<div class="color">
  <br>
  <br>
  <br>
  <div class="container">
    <div class="headerSection centre">
      <i class="fa fa-bar-chart fa-3" aria-hidden="true" style="font-size:60px;"></i>

      <h1 class="headerSection" style="font-size:60px;">Exam Analysis System</h1>
      <br>
      <h4 class="centre headerSection">A place for all students to analyze themselves</h4>
      <h4 class="centre headerSection">completely free, hand crafted</h4>
      <br>
      <br>
    </div>
    <div class="collectSections">

      <section class="main">
        <div class="row">
          <div class="col-sm-7">
            <h1>Project Vision</h1>
            <div class="underline"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <p>This project will allow Students to give mock tests/Exams and stimulate real Exam. Question banks can be uploaded into the Application by Teachers. Students can login/Register into the system and appear for exams. Whenever an exam starts, it cannot be paused/cancelled.</p>
            <p>Students have to submit answers, and when the timer runs out, all the answers will be submitted. The System produces a very consised analysis report about the student's performance in the exam. Students can assess themselves by those reports and plan their strategy accordingly.</p>
          </div>
          <div class="col-sm-5 right">
            <img class="img-circle img-thumbnail img-responsive border" src="assets/Images/user-me.png" alt="Exam Analysis System" width="300"/>
          </div>
        </div>
      </section>
  
      <hr>

      <section class="main centre">
        <h1>App features</h1>
        <div class="underline"></div>
        <div class="row">

          <div class="col-sm-4">     
            <div class="icon-wrapper">
              <i class="fa fa-cloud-upload custom-icon">
                <span class="fix-editor">&nbsp;</span>
              </i>
            </div>
            <h3>Easy Exam Upload</h3>
            <p>The project allows very convenient exam uploads into the database. Not only the uploads are ACID, but also very user friendly.</p>
          </div>
          
          <div class="col-sm-4">
            <div class="icon-wrapper">
              <i class="fa fa-braille custom-icon">
                <span class="fix-editor">&nbsp;</span>
              </i>
            </div>
            <h3>Rich Exam Attemp</h3>
            <p>The user experience to attemp exam is very rich, not only it marks the questions on the go, it makes question list available at all times.</p>
          </div>
          
          <div class="col-sm-4">
            <div class="icon-wrapper">
              <i class="fa fa-connectdevelop custom-icon">
                <span class="fix-editor">&nbsp;</span>
              </i>
            </div>
            <h3>Analysis</h3>
            <p>Every user attemp is analysed in every possible way, and each user attemp helps to analysse other users in a more efficient way.</p>
          </div>

        </div>  
      </section>
  
      <hr>
                  
      <section class="main">
        <div class="row">
          <div class="col-sm-7">
            <h1>Development</h1>
            <div class="underline"></div>
            <p>The Project Development Started on June 2017<br />
              And It was finished on November 2017</p>
            <br>
            <a [routerLink]="['/about']" class="btn btn-default">Learn More about Dev</a>
          </div>
        </div>
      </section>

    </div>  
  </div>        
</div>